<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="home">Voltar</a>
        <h1>Sistema de Gerenciamento de Financeiro!</h1>
        <p>Seja bem vindo {{ name }}!</p>
        <div>
            <a href="financial"><button>Analisar Financeiro</button></a>
            <a href="employees"><button>Gerenciar Funcionários</button></a>
            <a href="requests"><button>Gerenciar Pedidos</button></a>
            <a href="stock_admin"><button>Ver Estoque</button></a>
        </div>
    </div>

</body>
</html>