<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/styles.css">
    <title>Financeiro</title>
</head>
<body>
    <section id="sec-stock">
        <div id="div-stock">
        <a href="admin">Voltar</a>
        <h1>Pedidos</h1>
            <table border="2">
                <tr>
                    <th>Id do pedido:</th>
                    <th>Criador do pedido:</th>
                    <th>Quantidade no Estoque:</th>
                    <th>Item:</th>
                    <th>Código:</th>
                    <th>Categoria:</th>
                    <th>Status:</th>
                    <th>Ações:</th>
                </tr>
                {% for items in aprovados %}
                    <tr>
                        <th>{{items.id_request}}</th>
                        <th>{{items.name_user}}</th>
                        <th>{{items.quantity_item}}</th>
                        <th>{{items.name_item}}</th>
                        <th>{{items.code_item}}</th>
                        <th>{{items.category_item}}</th>
                        <th>{{items.status_request}}</th>
                        <th></th>
                    </tr>
                {% endfor %} 
            </table>
        </div>  
    </section>
</body>
</html>
