<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/styles.css">
    <title>Financeiro</title>
</head>
<body>
    <section id="sec-stock">
        <div id="div-stock">
        <a href="admin">Voltar</a>
        <h1>Pedidos</h1>
            <table border="2">
                <tr>
                    <th>Id do pedido:</th>
                    <th>Criador do pedido:</th>
                    <th>Quantidade:</th>
                    <th>Item:</th>
                    <th>Código:</th>
                    <th>Categoria:</th>
                    <th>Status:</th>
                    <th>Comprar:</th>
                    <th>Vender:</th>

                </tr>
                {% for user in users %}
                    <tr>
                        <th>{{user.id_request}}</th>
                        <th>{{user.name_user}}</th>
                        <th>{{user.quantity_item}}</th>
                        <th>{{user.name_item}}</th>
                        <th>{{user.code_item}}</th>
                        <th>{{user.category_item}}</th>
                        <th>{{user.status_request}}</th>
                        <th><a href="admin/buy_item/{{user.id_request}}">Comprar</a></th>
                        <th><a href="admin/sell_item/{{user.id_request}}">Vender</a></th>
                    </tr>
                {% endfor %} 
            </table>
        </div>  
    </section>
</body>
</html>
