<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/styles.css">
    <title>Pedidos</title>
</head>
<body>
    <section id="sec-stock">
        <div id="div-stock">
        <a href="admin">Voltar</a>
        <h1>Pedidos</h1>
        {% if users %}
            <table border="2">
                <tr>
                    <th>Id:</th>
                    <th>Autor:</th>
                    <th>Qtd:</th>
                    <th>Item:</th>
                    <th>Código:</th>
                    <th>Categoria:</th>
                    <th>Status:</th>
                    <th>Ação:</th>
                    <th>Ação:</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <th>{{user.id_request}}</th>
                        <th>{{user.name_user}}</th>
                        <th>{{user.quantity_item}}</th>
                        <th>{{user.name_item}}</th>
                        <th>{{user.code_item}}</th>
                        <th>{{user.category_item}}</th>
                        <th class="{{user.status_request}}">{{user.status_request}}</th>
                        <th><a href="admin/accept_request/{{user.id_request}}">Aceitar</a></th>
                        <th><a href="admin/refuse_request/{{user.id_request}}">Recusar</a></th>
                    </tr>
                {% endfor %} 
            </table>
        {% else %}
            <table>
                <tr>
                    <th>Nenhum pedido encontrado!</th>
                </tr>
            </table>
        {% endif %}
        </div>  
    </section>
</body>
</html>
