<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="admin">Voltar</a>
    <a href="add_item">Adicionar item.</a>
    <h1>Estoque</h1>
    <div>
        <table border="2">
            <tr>
                <th>Id do produto:</th>
                <th>Nome:</th>
                <th>Código:</th>
                <th>Preço:</th>
                <th>Oferta:</th>
                <th>Categoria:</th>
                <th>Editar:</th>
                <th>Excluir:</th>
            </tr>
            {% for item in items %}
                <tr>
                    <th>{{item.id_item}}</th>
                    <th>{{item.name_item}}</th>
                    <th>{{item.code_item}}</th>
                    <th>{{item.price_item}}</th>
                    <th>{{item.sale_item}}</th>
                    <th>{{item.category_item}}</th>
                    <th><a href="admin/update/{{item.id_item}}">Editar</a></th>
                    <th><a href="admin/delete/{{item.id_item}}">Excluir</a></th>
                </tr>
            {% endfor %} 
        </table>
    </div>  
</body>
</html>