<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Altere sua conta!</h1>
        <form method="POST">
            <p>Insira seu nome</p>
            <input type="text" name="name" class="input" autocomplete="off" placeholder="{{user.name_user}}">
            <p>Insira seu email</p>
            <input type="text" name="email" class="input" autocomplete="off" placeholder="{{user.email_user}}">
            <p>Insira sua senha</p>
            <input type="text" name="password" class="input" autocomplete="off" placeholder="{{user.password_user}}">
            <p>Insira sua função</p>
            <input type="text" name="function" class="input" autocomplete="off" placeholder="{{user.function_user}}">
            <p>Você é um ADMIN?</p>
            <select name="admin" id="select">
                <option value="{{user.isAdmin}}" selected>{{user.isAdmin}}</option>
                <option value="0">NÃO</option>
                <option value="1">SIM</option>
            </select>
            <br>
            <input type="submit" value="Alterar" id="submit">
        </form>
    </div>
<script type="module" src="public/scripts/auth.js"></script>
</body>
</html>

