* {
    padding: 0%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    width: 100vw;
}

button:hover{
    cursor: pointer;
}

#sec-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(162, 173, 187);
}
a{
    width: max-content;
    height: max-content;
}

#div-main{
    text-align: center;
    background-color: rgb(240, 242, 245);
    border-radius: 10px;
    height: 30vh;
    padding: 10px;
    box-shadow: 4px 4px 5px 0px;
}

.button-blue{
    background-color: rgb(118, 119, 209);
    border: none;
    color: #fafafa;
    border-radius: 10px;
    width: 10vw;
    font-size: small;
    height: 4vh;
    transition: 0.5s;
}

.button-blue:hover{
    background-color: rgb(79, 80, 172);
    border: none;
    color: #fafafa;
    border-radius: 15px;
    width: 15vw;
    font-size: larger;
    height: 6vh;
    transition: 0.5s;
}

.two-items{
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/* Página de login */
#form-login{
    display: flex;
    height: 80%;
    gap: 7px;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}
.input_login{
    height: 4vh;
    color: white;
    
}
#form-login input{
    border-radius: 5px;
    border: none;
    background-color: rgb(172, 169, 207);
    padding: 5px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

#form-login input:hover{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(53, 51, 83);
    padding: 5px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}
