* {
    padding: 0%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    width: 100vw;
}

button:hover{
    cursor: pointer;
}

#sec-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(132, 170, 219);
}
a{
    width: max-content;
    height: max-content;
}

#div-main{
    text-align: center;
    background-color: rgb(240, 242, 245);
    border-radius: 10px;
    height: max-content;
    padding: 10px;
    box-shadow: 4px 4px 5px 0px;
}

.button-blue{
    background-color: rgb(118, 119, 209);
    border: none;
    color: #fafafa;
    border-radius: 10px;
    width: 15vw;
    font-size: small;
    height: 4vh;
    transition: 0.5s;
    margin-top: 10px;
}

.button-blue:hover{
    background-color: rgb(79, 80, 172);
    border: none;
    color: #fafafa;
    border-radius: 15px;
    width: 17vw;
    font-size: large;
    height: 6vh;
    transition: 0.5s;
}

.auth-other{
    font-size: smaller;
}

.two-items{
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/* Página de login */
#form-login{
    display: flex;
    height: 80%;
    gap: 7px;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 18px;
}
.input_login{
    height: 4vh;
    color: white;
    
}
#form-login input{
    border-radius: 5px;
    border: none;
    background-color: rgb(172, 169, 207);
    padding: 5px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

#form-login select{
    border-radius: 5px;
    border: none;
    background-color: rgb(197, 194, 223);
    padding: 5px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}
#form-login #submit{
    border-radius: 5px;
    border: none;
    height: 4vh;
    width: max-content;
    background-color: rgb(199, 196, 224);
    padding: 5px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}
#form-login #submit:hover{
    height: 6vh;
    width: 12vw;
    background-color: rgb(69, 61, 134);
    transition: 0.5s;
}

#form-login select:hover{
    background-color: rgb(108, 100, 185);
    transition: 0.3s;
    color: white;
}

#form-login input:hover{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(53, 51, 83);
    padding: 5px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

/*  MENUs  */

#sec-menu{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(132, 170, 219);
    padding: 10px;
}

#div-menu{
    border-radius: 10px;
    background-color: #f3f2f7;
    padding: 20px;
    height: max-content;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    box-shadow: 4px 4px 5px 0px;
}

.options-row{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    align-items: center;
}

/* TABELAs */

#sec-stock{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(132, 170, 219);
    padding: 10px;
}

#div-stock{
    border-radius: 10px;
    background-color: #f3f2f7;
    padding: 20px;
    height: max-content;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: max-content;
    text-align: center;
    box-shadow: 4px 4px 5px 0px;
}

table{
    border: black 2px solid; /*mexe a borda ao redor*/
    border-collapse: collapse;
}

th{
    border: black 2px solid; /*mexe a borda interior*/
    padding: 5px;
    background-color: #d0dbfd;
}

.options-row-jc{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.Aprovado{
    background-color: #c9fde0;
}

.Recusado{
    background-color: #ffc6c6;
}
