<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/styles.css">
    <title>Bem-vindo!</title>
</head>
<body>
    <section id="sec-main">
        <div id="div-main">
            <h1>Sistema de Gerenciamento</h1>
            <div class="two-items">
                <a href="login"><button  class="button-blue">Login</button></a>
                <a href="register"><button class="button-blue">Cadastro</button></a>
            </div>
        </div>
    </section>
</body>
</html>