<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Seja bem-vindo! Crie a sua conta</h1>
        <form method="POST">
            <p>Insira seu nome</p>
            <input type="text" name="name" class="input" autocomplete="off">
            <p>Insira seu email</p>
            <input type="text" name="email" class="input" autocomplete="off">
            <p>Insira sua senha</p>
            <input type="text" name="password" class="input" autocomplete="off">
            <p>Insira sua função</p>
            <input type="text" name="function" class="input" autocomplete="off">
            <p>Você é um ADMIN?</p>
            <select name="admin" id="select">
                <option name="0" value="0" selected>NÃO</option>
                <option name="1" value="1">SIM</option>
            </select>
            <br>
            <input type="submit" value="Cadastrar" id="submit">
        </form>
    </div>
<script type="module" src="public/scripts/auth.js"></script>
</body>
</html>

