<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/styles.css">
    <title>Menu</title>
</head>
<body>
    <section id="">
        <div id="">
            <a href="home">Voltar</a>
            <h1>MENU</h1>
            <p>Seja bem vindo {{ name }}!</p>
            <div class="">
                <a href="user_request"><button class="">Fazer Pedido</button></a>
                <a href="stock"><button class="">Ver Estoque</button></a>
            </div>
        </div>
    </section>
</body>
</html>