<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Sistema de Gerenciamento de Financeiro!</h1>
        <p>Seja bem vindo "Usuário"</p>
        <div>
            <a href="financeiro"><button>Analisar Financeiro</button></a>
            <a href="funcionarios"></a><button>Gerenciar Funcionários</button></a>
            <a href="pedidos"></a><button>Gerenciar Pedidos</button></a>
            <a href="estoque"></a><button>Ver Estoque</button></a>
        </div>
    </div>

</body>
</html>