<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
            <a href="menu">voltar</a>
            <h1>Faça um pedido</h1>
            <form method="POST">
                <p>Nome do item:</p>
                <input type="text" name="name" class="input" autocomplete="off">
                <p>Categoria do Item:</p>
                <input type="text" name="category" class="input" autocomplete="off">
                <p>Código do Item:</p>
                <input type="text" name="code" class="input" autocomplete="off">
                <br>
                <input type="submit" value="Fazer pedido" id="submit">
            </form>
        </div>
    <script type="module" src="/financial-control-system/public/scripts/stock.js"></script>
    </body>
    </html>
    
    